
/*---
Breadcrumb
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/breadcrumb
*/
.nav
{
	$parent						: &;

	&--breadcrumb
	{
		li
		{
			display					: inline-block;
			vertical-align			: top;
			line-height				: 1;
		}

		#{$parent}__text
		{
			display					: inline-block;
		}

		.icon
		{
			height					: 16px;
			width					: 16px;
		}

		a,
		.a
		{
			display					: inline-block;
			padding					: 0;
		}

		a
		{
			&:hover,
			&:focus
			{
				text-decoration		: underline;
			}
		}

		li:first-child
		{
			.icon + #{$parent}__text
			{
				text-indent			: -999em;
			}
		}

		li:not(:first-child)
		{
			.icon
			{
				display				: none;
			}
		}

		li:not(:last-child)
		{
			&:after
			{
				content				: "/";
				display				: inline-block;
				vertical-align		: top;
				padding				: 0 .3rem 0 .6rem;
			}
		}
	}
}
