
/*---
Icons
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/icons
*/
.nav
{
	$parent						: &;

	&--icons
	{
		a
		{
			padding				: 0;
		}

		.icon
		{
			+ .text
			{
				display			: none;
			}
		}

		li + li
		{
			padding-left		: 0;
		}
	}
}
