
/*---
Inline
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/inline
*/
.nav
{
	$parent						: &;

	&--inline
	{
		ul, li
		{
			display				: inline-block;
		}

		li + li
		{
			padding-left		: 1.5rem;
		}

		#{$parent}__item
		{
			display				: inline-block;
			vertical-align		: middle;

			 > a
			{
				display			: inherit;
			}
		}
	}
}
