/*---
Logo
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/logo
*/
.nav
{
	$parent						: &;

	&-logo
	{
		display					: inline-block;
		margin					: 0 auto;
		vertical-align			: middle;
		min-width				: 120px;

		img
		{
			display				: block;
		}
	}
}
