

.overlay.overlay--nav
{
	background					: #000;
	color						: #fff;

	.overlay__header
	{
		background				: inherit;
	}
}

/*---
Mobile Navigation
@group			Navigation
@desc			...
@todo			Document
@author			Michael Ord
@tags			navigation
@partial		nav/mobile
*/
.nav
{
	$parent						: &;

	&--mobile
	{
		height					: 600px;
		position				: relative;
		overflow				: hidden;

		#{$parent}__level
		{
			transition			: all .3s;
			opacity				: 1;

			&.inactive
			{
				opacity			: 0;
			}
		}

		.active-1
		{

		}

		.active-2
		{
			transform			: translateX(-100%);
		}

		.active-3
		{
			transform			: translateX(-200%);
		}

		.active-4
		{
			transform			: translateX(-300%);
		}

		a
		{
			color				: #fff;
			background			: #000;

			text-overflow		: ellipsis;
			white-space			: nowrap;
			border-top-width	: 1px;
			border-color		: #242643;
			border-style		: solid;
		}

		#{$parent}__item
		{
			position			: static;

			&.divider
			{
				padding				: 10px 20px;
				background-color	: #0b0e23;
				font-size			: 80%;
				font-weight			: bold;
				letter-spacing		: 1px;
				color				: #585a70;
				text-transform		: uppercase
			}
		}

		ul
		{
			height				: 100%;
			position			: absolute;
			width				: 100%;
			top					: 0;
			left				: 0;
			background-color	: #000;

			&.is-hidden
			{
				transform		: translateX(100%);
			}
		}
	}
}
