
/*---
Multilevel
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/multilevel
*/
.nav
{
	$parent						: &;

	&--multilevel &
	{
		@include device(until-lg)
		{
			&__children
			{
				> #{$parent}__level
				{
					overflow	: hidden;
					max-height	: 60em;
					transition	: max-height .5s;
				}
			}

			&__open
			{
				> a
				{
					.icon--more
					{
						transform		: rotate(90deg);
					}
				}
			}

			&__closed
			{
				> #{$parent}__level
				{
					max-height	: 0;
				}
			}
		}

		@include device(lg)
		{
			 a
			{
				padding			: $nav-anchor-padding;
				padding-right	: ($nav-anchor-padding * 2) + $more-size;
			}

			&__children
			{
				> a
				{

				}
			}

			> #{$parent}__level
			{
				padding-left	: $container-padding - $nav-anchor-padding;
				padding-right	: $container-padding - $nav-anchor-padding;
			}
		}
	}
}
