
/// ...
/// @group framework
/// @access public
/// @type String
$nav-link-padding				: 5px !default;

/*---
Navigation
@group 			Navigation
@todo			Document
@author			Michael Ord
@tags			navigation
---
...
*/
nav
{
	//line-height					: 1;
	//user-select					: none;

	ul,
	ol
	{
		margin-top 				: 0;
		margin-bottom			: 0;
		list-style				: none;
		padding					: 0;
	}

	li
	{
		max-width				: none;
		margin					: 0;
		padding					: 0;
		position				: relative;
	}

	 a
	{
		display					: block;
		text-decoration			: none;
		position				: relative;
		//overflow				: hidden;
	}

	a
	{
		border					: 0;
		outline					: none;

		// make the text accessible to screen readers
		cursor					: pointer;

		&:hover,
		&:focus
		{
			text-decoration		: none;
		}
	}
}

$more-size						: 16px;

.nav
{
	$parent						: &;

	li
	{
		text-align				: left;
	}

	&__level
	{
		position				: relative;
		margin-left				: auto;
		margin-right			: auto;
	}

	&__item,
	&__text
	{
		display					: block;
	}

	 a
	{
		padding					: .6rem 0;
		color					: inherit;
	}

	&__children
	{
		> a
		{
			padding-right		: ($nav-anchor-padding * 2) + $more-size;
		}

		&:hover > a,
		> a:hover
		{
			.icon--more
			{
				transform		: rotate(90deg);
			}
		}
	}
}

.nav
{
	$parent						: &;

	&__item
	{
		&.active
		{
			 > a
			{
				@if($debug)
				{
					outline		: 1px solid $clr-primary;
				}
			}
		}

		 > a
		{
			position			: relative;
			padding				: .8rem 1.5rem;

			.icon
			{
				&:first-child
				{
					//position	: absolute;
					//top			: 50%;
					//left		: 0;
					//transform	: translate(0, -50%);
				}

				&:last-child
				{
					position	: absolute;
					top			: 50%;
					right		: .5rem;
					transform	: translate(0, -50%);
				}
			}
		}
	}
}
