
/*---
Pagination
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/pagination
*/
.nav
{
	$parent						: &;

	&--pagination
	{
		margin					: 1.5rem auto;
		text-align				: center;

		.icon
		{
			width				: 12px;
			height				: 12px;
		}

		li
		{
			display				: inline-block;

			> *
			{
				display			: block;
				padding			: .5rem !important;
			}

			> span
			{
				opacity			: .5;
			}
		}

		.active > *,
		a:hover,
		a:focus
		{
			background			: #202020;
			color				: #fff;
		}

		.active > *
		{
			cursor				: default;
			opacity				: initial;
		}
	}
}
