
/*---
Secondary
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/secondary
*/
.nav
{
	$parent						: &;

	&--secondary
	{
		li
		{
			margin-bottom			: 1px;
		}

		#{$parent}__header
		{
			padding					: .4rem .8rem;
			display					: block;
			position				: relative;

			.icon
			{
				display				: none;
			}

			&:after
			{
				content				: "";
				border-bottom		: 1px solid #efefef;
				display				: block;
				position			: absolute;
				top					: 50%;
				left				: 3rem;
				right				: 0;
				z-index				: 1;
			}

			#{$parent}__text
			{
				color				: #ccc;
				background-color	: #fff;
				position			: relative;
				z-index				: 2;
				display				: inline-block;
				padding				: 0 .6rem 0 0;
			}
		}

		 a
		{
			border-radius			: .3rem;
			padding					: .6rem .8rem;
		}

		.active
		{
			 > a
			{
				color				: $clr-primary;
				background-color	: lighten($clr-primary, 30%);
			}
		}

		#{$parent}__divider
		{
			padding-bottom			: .5rem;
			margin-bottom			: .5rem;
			border-bottom			: 1px solid #efefef;
		}

		a
		{
			&:hover,
			&:focus
			{
				color				: $clr-primary;
			}
		}
	}
}
