/*---
Tags
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/tags
*/
.nav
{
	$parent						: &;

	&--tags
	{
		font-size				: 85%;

		li
		{
			display				: inline-block;
			margin				: .1rem 0;
		}

		a,
		.a
		{
			background			: $clr-primary;
			color				: #fff;

			display				: block;
			padding				: .4rem .7rem;
			border-radius		: 1rem;
		}
	}
}
