/*---
Top
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation,javascript
@partial		nav/top
*/
.nav-top
{
	$parent						: &;
	$size						: 50px;

	display						: block;
	width						: $size;
	height						: $size;
	padding						: 10px;
	z-index						: 99999;
	transition					: bottom .5s;

	&--fixed
	{
		right						: 20px;
		bottom						: -$size;
		position					: fixed;

		.js-scrolled--screen &
		{
			bottom					: 20px;
		}
	}

	.icon
	{
		height					: 30px;
		width					: 30px;
	}
}
