{{!--
	"title"						: "Newsletter"
--}}

<nav class="nav nav--breadcrumb">
	<ul>
		<li><a href="#">{{icon 'home'}} <span class="nav__text">Home</span></a></li>
		<li><a href="#"><span class="nav__text">Section</span></a></li>
		<li><a href="#"><span class="nav__text">{{icon 'chevron-left'}} Section</span></a></li>
		<li><span class="nav__text">{{fallback title "Current Page"}}</span></li>
	</ul>
</nav>
