<nav class="nav nav--columns">
	<ul>
		<li><a href="#">Learn more</a>
			<ul>
				<li><a href="#">How it works</a></li>
				<li><a href="#">Guarentee</a></li>
				<li><a href="#">Security</a></li>
				<li><a href="#">Report Bug</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Free stuff</a></li>
				<li><a href="#">Help center</a></li>
			</ul>
		</li>
		<li><a href="#">About</a>
			<ul>
				<li><a href="#">About us</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Team</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		</li>
		<li><a href="#">Get in Touch</a>
			<ul>
				<li><a href="#">Get support</a></li>
				<li><a href="#">Advertise with us</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Affiliate programmes</a></li>
				<li><a href="#">Merchandise</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</li>
	</ul>
</nav>
