
<nav class="{{modifiers "nav" "inline,icons"}}">
	<ul>
		{{#if this.twitter}}
		<li><a href="#">{{icon 'twitter'}} <span class="text">Twitter</span></a></li>
		{{/if}}
		{{#if this.facebook}}
		<li><a href="#">{{icon 'facebook'}} <span class="text">Facebook</span></a></li>
		{{/if}}
		{{#if this.instagram}}
		<li><a href="#">{{icon 'instagram'}} <span class="text">Instagram</span></a></li>
		{{/if}}
		{{#if this.youtube}}
		<li><a href="#">{{icon 'youtube'}} <span class="text">Youtube</span></a></li>
		{{/if}}
		{{#if this.linkedin}}
		<li><a href="#">{{icon 'linkedin'}} <span class="text">LinkedIn</span></a></li>
		{{/if}}
		{{#if this.pinterest}}
		<li><a href="#">{{icon 'pinterest'}} <span class="text">Pinterest</span></a></li>
		{{/if}}
	</ul>
</nav>

