
<nav class="menu{{#if fixed}} menu--fixed{{/if}}">
	<div class="menu__inner">
		<ul class="menu-level menu-level--1">
			<li class="menu-item"><a href="/">Home</a></li>
			<li class="menu-item has-children has-megamenu">
				<!--<input type="radio" id="dave" name="menutoggle">
				<label for="dave" href="#">Movies <span class="menu-arrow">{{icon 'close'}}</span></label>
				-->
				<a href="#">Movies <span class="menu-arrow">{{icon 'close'}}</span></a>
				<div class="menu-level menu-level--2 megamenu">
					<div class="megamenu__wrapper">
						<div class="container megamenu__container">
							<!-- //-->
							<a href="#" class="more more--all">See all movies {{icon 'cheveron-right' 'sm'}}</a>
							<button class="ui">
								{{icon 'close'}}
							</button>
							<div class="l-columns@lg">
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">In cinemas</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<ul>
												{{#times 3}}
												<li><a href="#">{{lorem 'w4'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">Show more {{icon 'cheveron-right' 'sm'}}</a>
								</div>
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Yours to own</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<ul>
												{{#times 9}}
												<li><a href="#">{{lorem 'w4'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">Show more {{icon 'cheveron-right' 'sm'}}</a>
								</div>
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Genres</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<ul>
												{{#times 9}}
												<li><a href="#">{{lorem 'w'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">All movies {{icon 'cheveron-right' 'sm'}}</a>
								</div>
							</div>
							<!-- //-->
						</div>
					</div>
				</div>
			</li>
			<li class="menu-item has-children has-megamenu">
				<a href="#">TV <span class="menu-arrow">{{icon 'close'}}</span></a>
				<div class="menu-level menu-level--2 megamenu">
					<div class="megamenu__wrapper">
						<div class="container megamenu__container">
							<!-- //-->
							<a href="#" class="more more--all">See all TV {{icon 'cheveron-right' 'sm'}}</a>
							<button class="ui">
								{{icon 'close'}}
							</button>
							<div class="l-columns@lg">
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Latest releases</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<div class="media media--top">
												<div class="media__figure">
													{{PlaceholderImage 90 60}}
												</div>
												<div class="media__body">
													<h3>Westworld <span>Series 1</span></h3>
												</div>
											</div>
										</div>
										<div class="megamenu__section">
											<ul>
												{{#times 2}}
												<li><a href="#">{{lorem 'w3'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">Show more {{icon 'cheveron-right' 'sm'}}</a>
								</div>
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Yours to own</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<ul>
												{{#times 9}}
												<li><a href="#">{{lorem 'w'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">Show more {{icon 'cheveron-right' 'sm'}}</a>
								</div>
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Genres</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<div class="l-columns@lg">
												<ul>
													{{#times 9}}
													<li><a href="#">{{lorem 'w'}}</a></li>
													{{/times}}
												</ul>
												<ul>
													{{#times 5}}
													<li><a href="#">{{lorem 'w'}}</a></li>
													{{/times}}
												</ul>
											</div>
										</div>
									</div>
									<a class="more" href="#">All all TV {{icon 'cheveron-right' 'sm'}}</a>
								</div>
							</div>
							<!-- //-->
						</div>
					</div>
				</div>
			</li>
			<li class="menu-item has-children has-megamenu">
				<a href="#">Games <span class="menu-arrow">{{icon 'close'}}</span></a>
				<div class="menu-level menu-level--2 megamenu">
					<div class="megamenu__wrapper">
						<div class="container megamenu__container">
							<!-- //-->
							<a href="#" class="more more--all">See all Games {{icon 'cheveron-right' 'sm'}}</a>
							<button class="ui">
								{{icon 'close'}}
							</button>
							<div class="l-columns@lg">
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Latest releases</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<div class="media media--top">
												<div class="media__figure">
													{{PlaceholderImage 90 60}}
												</div>
												<div class="media__body">
													<h3>Injustice 2 <span>Coming Soon</span></h3>
												</div>
											</div>
										</div>
										<div class="megamenu__section">
											<ul>
												{{#times 2}}
												<li><a href="#">{{lorem 'w5'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">Show more {{icon 'cheveron-right' 'sm'}}</a>
								</div>
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Digital</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<ul>
												{{#times 9}}
												<li><a href="#">{{lorem 'w'}}</a></li>
												{{/times}}
											</ul>
										</div>
									</div>
									<a class="more" href="#">Show more {{icon 'cheveron-right' 'sm'}}</a>
								</div>
								<div class="megamenu__column">
									<h3 class="megamenu__title"><a href="#">Genres</a></h3>
									<div class="megamenu__content">
										<div class="megamenu__section">
											<div class="l-columns@lg">
												<ul>
													{{#times 9}}
													<li><a href="#">{{lorem 'w'}}</a></li>
													{{/times}}
												</ul>
												<ul>
													{{#times 5}}
													<li><a href="#">{{lorem 'w'}}</a></li>
													{{/times}}
												</ul>
											</div>
										</div>
									</div>
									<a class="more" href="#">All all TV {{icon 'cheveron-right' 'sm'}}</a>
								</div>
							</div>
							<!-- //-->
						</div>
					</div>
				</div>
			</li>
			<li class="menu-item"><a href="#">Kids</a></li>
			<li class="menu-item"><a href="#">Franchises</a></li>
			<li class="menu-item"><a href="#">Collections</a></li>
			<li class="menu-item"><a href="#">What's Hot</a></li>
			<li class="menu-item has-children">
				<a href="#">Log In</a>
				<ul class="menu-level menu-level--2 dropdown">
					<li class="menu-item"><a href="#">Log In</a></li>
					<li class="menu-item"><a href="#">Register</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="#">Search</a></li>
		</ul>
	</div>
</nav>
