
<nav class="nav nav--pagination">
	<ul>
		<li><a href="#">{{icon 'cheveron-left'}} First</a></li>
		<li><a href="#">{{icon 'cheveron-left'}} Previous</a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">Next {{icon 'cheveron-right'}}</a></li>
		<li><a href="#">Last {{icon 'cheveron-right'}}</a></li>
	</ul>
</nav>
