<nav class="nav nav--mobile" id="pooper">
	<ul id="gap" class="nav__level nav__level-1 active-1">
		{{#times 8}}
		<li class="nav__item has-children">
			<a href="#"><span>Clothing {{this}}</span> {{icon 'cheveron-right' 'sm'}}</a>
			<ul class="nav__level nav__level-2 is-hidden">
				<li class="nav__item"><a href="#" class="back">{{icon 'cheveron-left' 'sm'}} <span>Menu {{this}}</span></a></li>
				<li class="nav__item"><a href="#"><span>All Clothing {{this}}</span></a></li>
				<li class="nav__item has-children">
					<a href="#"><span>Accessories {{this}}</span> {{icon 'cheveron-right' 'sm'}}</a>
					<ul class="nav__level nav__level-3 is-hidden">
						<li class="nav__item"><a href="#" class="back">{{icon 'cheveron-left' 'sm'}} <span>Back {{this}}</span></a></li>
						<li class="nav__item"><a href="#"><span>All Accessories {{this}}</span></a></li>
						<li class="nav__item has-children">
							<a href="#"><span>Beanies {{this}}</span> {{icon 'cheveron-right' 'sm'}}</a>
							<ul class="nav__level nav__level-3 is-hidden">
								<li class="nav__item"><a href="#" class="back">{{icon 'cheveron-left' 'sm'}} <span>Back {{this}}</span></a></li>
								<li class="nav__item"><a href="#"><span>All Beanies {{this}}</span></a></li>
								<li class="nav__item"><a href="#"><span>Caps &amp; Hats {{this}}</span></a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		{{/times}}
		<li class="nav__item divider">Divider</li>
		<li class="nav__item"><a href="#">Level 1</a></li>
		<li class="nav__item"><a href="#">Level 1</a></li>
	</ul>
</nav>
