
<nav class="{{modifiers "nav" "tags"}}">
	<ul>
		{{#if tags}}
			{{#each tags}}
				<li><span class="a">{{this}}</span></li>
			{{/each}}
		{{else}}
			<li><a href="#">Technology</a></li>
			<li><a href="#">Art</a></li>
			<li><a href="#">Birds</a></li>
		{{/if}}
	</ul>
</nav>

